@model SocialLinksCardClickableRowViewModel


<div class="row mb-3">
    <div class="col d-flex justify-content-between px-5">
        @{
            foreach (string arcana in Model.Cards)
            {
                @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel(arcana))
            }
        }
    </div>
</div>
