@model SocialLinksIndexViewModel

@{
    ViewData["Title"] = "Social Links";
}

@{

    var rows = new List<List<string>>();

    for (int i = 0, L = Model.Arcanas.Count(); i < L; i += Model.MaxCardsPerRow)
    {
        rows.Add(Model.Arcanas.ToList().GetRange(i, Math.Min(Model.MaxCardsPerRow, Model.Arcanas.Count() - i)));
    }

    foreach (List<string> row in rows)
    {
        @await Html.PartialAsync("CardClickableRow", new SocialLinksCardClickableRowViewModel(row))
    }
}



@*<div class="row mb-3">
    <div class="col-12 d-flex justify-content-between px-5">
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Fool"))
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Magician"))
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Chariot"))
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Priestess"))
    </div>
</div>*@

@*<div class="row mb-3">
    <div class="col-3">
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Emperor"))
    </div>
    <div class="col-3">
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Star"))
    </div>
    <div class="col-3">
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Lovers"))
    </div>
    <div class="col-3">
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Fortune"))
    </div>
</div>

<div class="row mb-3">
    <div class="col-3">
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Strength"))
    </div>
    <div class="col-3">
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Sun"))
    </div>
    <div class="col-3">
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Hanged Man"))
    </div>
    <div class="col-3">
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Moon"))
    </div>
</div>

<div class="row mb-3">
    <div class="col-12 d-flex flex-column justify-content-between">
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Justice"))
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Hierophant"))
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Jester"))
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Hermit"))
    </div>
</div>

<div class="row mb-3">
    <div class="col-12 d-flex flex-column justify-content-between">
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Death"))
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Temperance"))
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Devil"))
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Tower"))
    </div>
</div>

<div class="row mb-3">
    <div class="col-4">
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Empress"))
    </div>
    <div class="col-4">
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Aeon"))
    </div>
    <div class="col-4">
        @await Html.PartialAsync("CardClickable", new SocialLinksCardClickableViewModel("Judgement"))
    </div>
</div>*@
