
@{
    ViewData["Title"] = "Calendar";
}

<div class="row">
    <div class="col-4 text-center">
        <a asp-area="" asp-controller="Calendar" asp-action="April">April</a>
    </div>
    <div class="col-4 text-center">
        <a asp-area="" asp-controller="Calendar" asp-action="May">May</a>
    </div>
    <div class="col-4 text-center">
        <a asp-area="" asp-controller="Calendar" asp-action="June">June</a>
    </div>
</div>
<div class="row">
    <div class="col-4 text-center">
        <a asp-area="" asp-controller="Calendar" asp-action="July">July</a>
    </div>
    <div class="col-4 text-center">
        <a asp-area="" asp-controller="Calendar" asp-action="August">August</a>
    </div>
    <div class="col-4 text-center">
        <a asp-area="" asp-controller="Calendar" asp-action="September">September</a>
    </div>
</div>
<div class="row">
    <div class="col-4 text-center">
        <a asp-area="" asp-controller="Calendar" asp-action="October">October</a>
    </div>
    <div class="col-4 text-center">
        <a asp-area="" asp-controller="Calendar" asp-action="November">November</a>
    </div>
    <div class="col-4 text-center">
        <a asp-area="" asp-controller="Calendar" asp-action="December">December</a>
    </div>
</div>