@{
    string title = "The Fool Arcana";
    if (!String.IsNullOrEmpty((string)ViewData["Title"]))
    {
        title = $"{ViewData["Title"]} - {title}";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- This page supports both dark and light colour schemes,
         and switches based on browser setting. Default: dark. -->
    <meta name="color-scheme" content="dark light" />
    <script src="~/js/color-mode-switch.js"></script>

    <title>
        @Html.Raw(title)
    </title>

    <!-- Load the alternate CSS first
         (light/original Bootstrap) -->
    <link rel="stylesheet" href="~/lib/bootstrap-dark-5/dist/css/bootstrap.min.css" media="(prefers-color-scheme: light)" />

    <!-- Then load the primary CSS
         (dark Bootstrap) -->
    <link rel="stylesheet" href="~/lib/bootstrap-dark-5/dist/css/bootstrap-night.min.css" media="(prefers-color-scheme: dark)" />

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid py-3 mb-2">
        <header>
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">
                        <picture>
                            <img src="~/images/title.png" alt="The Fool Chariot" class="me-2" height="64" />
                        </picture>
                    </a>
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li>
                            <a class="nav-link px-2 text-white h4 mb-0" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link px-2 text-white h4 mb-0" asp-area="" asp-controller="Calendar" asp-action="Index">Calendar</a>
                        </li>
                        <li>
                            <a class="nav-link px-2 text-white h4 mb-0" asp-area="" asp-controller="SocialLinks" asp-action="Index">Social Links</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <div class="container py-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
